body {
  display: flex;
  flex-direction: column;

  margin: 0;
  background-color: #F5F5F5;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 30px 0;
  color: #414140;
}

button {
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 0 5px;
  padding: 10px;
	font: bold 1em Arial;
	background: #f5f5f5;
	color: #555;
	border-radius: 2px;
	border: 1px solid #c3c3c3;
	box-shadow: 3px 3px 3px #999;
}

main {
  display: flex;
  justify-content: space-around;
  flex-grow: 10;
}

#map {
  flex-grow: 1;
  height: 600px;
  width: 600px;
  border: 1px solid #c3c3c3;
	box-shadow: 1px 1px 3px #D8B1D2;
}

.leaflet-popup,
.leaflet-zoom-animated {
  margin-bottom: 30px;
}

/* controler */
