body {
  display: flex;
  flex-direction: column;

  margin: 0;
  background-color: #F5F5F5;
}

main {
  display: flex;
  justify-content: space-around;
  flex-grow: 10;
}

#map {
  flex-grow: 1;
  height: 600px;
  width: 600px;
  border: 1px solid #c3c3c3;
	box-shadow: 1px 1px 3px #D8B1D2;
}

.leaflet-popup,
.leaflet-zoom-animated {
  margin-bottom: 30px;
}
